.loader {
  --dot-loader-size: 30px;
  --dot-loader-offset: 66.6667%;
  --dot-loader-stroke: 3px;
  --dot-loader-color: #fff;
  --dot-loader-duration: 2.5s;
  --dot-loader-delay: -1.25s;

  width: var(--dot-loader-size);
  height: auto;
  aspect-ratio: 1;
  position: relative;
  display: inline-block;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  box-shadow: 0 0 0 var(--dot-loader-stroke) inset var(--dot-loader-color);
  animation: l4 var(--dot-loader-duration) infinite;
}
.loader:after {
  animation-delay: var(--dot-loader-delay);
}
@keyframes l4 {
  0% {
    inset: 0 var(--dot-loader-offset) var(--dot-loader-offset) 0;
  }
  12.5% {
    inset: 0 var(--dot-loader-offset) 0 0;
  }
  25% {
    inset: var(--dot-loader-offset) var(--dot-loader-offset) 0 0;
  }
  37.5% {
    inset: var(--dot-loader-offset) 0 0 0;
  }
  50% {
    inset: var(--dot-loader-offset) 0 0 var(--dot-loader-offset);
  }
  62.5% {
    inset: 0 0 0 var(--dot-loader-offset);
  }
  75% {
    inset: 0 0 var(--dot-loader-offset) var(--dot-loader-offset);
  }
  87.5% {
    inset: 0 0 var(--dot-loader-offset) 0;
  }
  100% {
    inset: 0 var(--dot-loader-offset) var(--dot-loader-offset) 0;
  }
}
